<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="employers">BCFood Admin</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/employers">Employers</a></li>
          <li><a href="/employees">Employees</a></li>
<!--           <li><a href="/cases">Case Management</a></li>
          <li><a href="/logout">Logout</a></li> -->

<!--               <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>

<script type="text/javascript" src="js/controller/app.js"></script>
<div class="container-fluid" ng-app="bcfoodEmployers">

<div ng-controller="EmployerController as e">

    <!-- Modal EO -->
    <div class="modal fade" id="eoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Employers Organisation</h4>
          </div>
          <div class="modal-body">
                <label style="padding-top:4px; margin-bottom: 1px">Employers Organisation Name</label>
                <input class="form-control" type="text" ng-model="eo.name" placeholder="PCA">    
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="e.addEO(eo);">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Union-->
    <div class="modal fade" id="unionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Union</h4>
          </div>
          <div class="modal-body">
                <label style="padding-top:4px; margin-bottom: 1px">Union Name</label>
                <input class="form-control" type="text" ng-model="union.name" placeholder="ABCD">     
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="e.addUnion(union);">Add</button>
          </div>
        </div>
      </div>
    </div>


        <img ng-show="e.loading" style="position: fixed; top:10px; right:10px;" src="images/loading.gif">
        <div class="row">
            <div class="col-md-6">
                <h1 style="text-align: center">Employers</h1>
                <label>Search</label> <input class="form-control" type="text" ng-model="searchText" placeholder="ID or Name or Email ...">
                <table class="table">
                    <tr class="info">
                        <td><strong>ID</strong></td>
                        <td><strong>Business Name</strong></td>
                        <td><strong>Email</strong></td>
                        <td><strong>Tel</strong></td>
                        <td><strong>Actions</strong></td>
                    </tr>
                    <tr ng-repeat="employer in e.employers | filter:searchText" ng-click="e.getEmployer(employer)" style="cursor: pointer;">
                        <td>{{employer.id}}</td>   
                        <td>{{employer.name}}</td>   
                        <td>{{employer.email}}</td>   
                        <td>{{employer.tel}}</td>   
                        <td><input type="button" value="Delete" class="btn btn-danger" ng-click="e.delete(employer)"></td>   
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="form-control" placeholder="CompanyABC" ng-model="e.newEmployer.name" type="text"></td>
                        <td><input class="form-control" placeholder="company@example.com" ng-model="e.newEmployer.email" type="email"></td>
                        <td><input class="form-control" placeholder="0121234568" ng-model="e.newEmployer.tel" type="text"></td>
                        <td><input class="btn btn-primary form-control" value="Add" ng-click="e.create(e.newEmployer)" type="button"></td>
                    </tr>
                </table>
            </div>
            <div ng-show="e.employer" class="col-md-6">
                <h1 style="text-align: center">Employer details</h1>
                <div class="row">
                    
                </div><br/>
                <div class="row">
                    <div class="col-md-12">
                        <label style="padding-top:4px; margin-bottom: 1px">Full Business Name</label>
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.name" placeholder="CompanyABC">
                    </div>
                </div><br/>
                <div class="row">
                    <div class="col-md-6">
                        <label style="padding-top:4px; margin-bottom: 1px">Street Address</label>
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.streetAddress.a" placeholder="Address Line 1">
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.streetAddress.b" placeholder="Address Line 2">
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.streetAddress.c" placeholder="Address Line 3">
                    </div>                    
                    <div class="col-md-6">
                        <label style="padding-top:4px; margin-bottom: 1px">Postal Address</label>
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.postalAddress.a" placeholder="Address Line 1">
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.postalAddress.b" placeholder="Address Line 2">
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.postalAddress.c" placeholder="Address Line 3">
                    </div>                    
                </div><br/>
                <div class="row">
                    <div class="col-md-6">
                        <label style="padding-top:4px; margin-bottom: 1px">Tel</label>
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.tel" placeholder="0125487877">

                        <label style="padding-top:4px; margin-bottom: 1px">Fax</label>
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.fax" placeholder="0125874588">

                        <label style="padding-top:4px; margin-bottom: 1px">Email</label>
                        <input class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.email" placeholder="company@example.com">
                        
                        <hr/>
                        
                        <label style="padding-top:4px; margin-bottom: 1px">No. of employees</label>
                        <input class="form-control" type="number" ng-blur='e.update()' ng-model="e.employer.employeeNum">

                        <label style="padding-top:4px; margin-bottom: 1px">Date of commencement of business</label>
                        <input class="form-control" type="date" ng-blur='e.update()' ng-model="e.employer.commencementDate">
                    </div>
                
                    <div class="col-md-6">
                        <label style="padding-top:4px; margin-bottom: 1px">Employer Type</label>
                        <select class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.type">
                            <option value="company">Company</option>
                            <option value="soleOwner">Sole Owner</option>
                            <option value="partnership">Partnership</option>
                        </select>
                        <label style="padding-top:4px; margin-bottom: 1px" ng-show="e.employer.type == 'company'">Registered Name</label>
                        <input class="form-control" type="text" ng-show="e.employer.type == 'company'" ng-blur='e.update()' ng-model="e.employer.registeredName" placeholder="Company International Pty Ltd">
                        <label style="padding-top:4px; margin-bottom: 1px" ng-show="e.employer.type == 'company'">Address of head office</label>
                        <input class="form-control" type="text" ng-show="e.employer.type == 'company'" ng-blur='e.update()' ng-model="e.employer.addressHeadOffice" placeholder="123 First Street, Pretoria">

                        <label style="padding-top:4px; margin-bottom: 1px">Business Type</label>
                        <select class="form-control" type="text" ng-blur='e.update()' ng-model="e.employer.businessType">
                            <option value="restaurant">Restaurant</option>
                            <option value="steakhouse">Steakhouse</option>
                            <option value="roadhouse">Roadhouse</option>
                            <option value="cafe">Cafe</option>
                            <option value="fishChips">Fish and Chips</option>
                            <option value="takeAway">Snack Bar/Take-Away Foods</option>
                            <option value="function">Function Caterer</option>
                            <option value="other">Other</option>
                        </select>
                        <label style="padding-top:4px; margin-bottom: 1px" ng-show="e.employer.businessType == 'other'">Other</label>
                        <input class="form-control" type="text" ng-show="e.employer.businessType == 'other'" ng-blur='e.update()' ng-model="e.employer.businessType" placeholder="Other">
                    
                        <label style="padding-top:4px; margin-bottom: 1px">Employers organisation</label>
                        <div class="input-group">
                            <select class="form-control" ng-blur='e.update()' ng-model="e.employer.employersOrganisation">
                                <option ng-repeat="eO in e.employersOrganisations" value="{{eO.name}}">{{eO.name}}</option>
                            </select>
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-success" value="+" data-toggle="modal" data-target="#eoModal">
                            </span>
                        </div>
                        <p><b>Selected:</b> {{e.employer.employersOrganisation}}</p>

                        <label style="padding-top:4px; margin-bottom: 1px">Union</label>
                        <div class="input-group">
                            <select class="form-control" ng-blur='e.update()' ng-model="e.employer.union">
                                <option ng-repeat="union in e.unions" value="{{union.name}}">{{union.name}}</option>
                            </select>
                            <span class="input-group-btn">
                                <input type="button" class="btn btn-success" value="+" data-toggle="modal" data-target="#unionModal">
                            </span>
                        </div>
                        <p><b>Selected:</b> {{e.employer.union}}</p>

                    </div>
                </div>    

                <br/>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <label style="padding-top:4px; margin-bottom: 1px">Owners</label>
                        <table class="table">
                            <tr class="info">
                                <td>Email</td>
                                <td>Name</td>
                                <td>Contact</td>
                                <td>Address</td>
                                <td>Actions</td>
                            </tr>
                            <tr ng-repeat="owner in e.employer.owners">
                                <td>{{owner.email}}</td>
                                <td>{{owner.name}}</td>
                                <td>{{owner.contact}}</td>
                                <td>{{owner.address}}</td>
                                <td><input type="button" class="btn btn-danger form-control" value="X" ng-click="e.rmOwner(owner)"></td>
                            </tr>
                            <tr>
                                <td><input class="form-control" placeholder="company@example.com" ng-model="e.newOwner.email" type="email"></td>
                                <td><input class="form-control" placeholder="John Dough" ng-focus="e.lookupOwner(e.newOwner)" ng-model="e.newOwner.name" type="text"></td>
                                <td><input class="form-control" placeholder="0125487785" ng-model="e.newOwner.contact" type="text"></td>
                                <td><input class="form-control" placeholder="1 1st Street" ng-model="e.newOwner.address" type="text"></td>
                                <td><input type="button" class="btn btn-success form-control" value="+" ng-click="e.addOwner(e.newOwner)"></td>
                            </tr>    
                        </table>
                    </div>
                </div>
                <br/>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <label style="padding-top:4px; margin-bottom: 1px">Employees</label>
                        <table class="table">
                            <tr class="info">
                                <td>ID Number</td>
                                <td>Name</td>
                                <td>Surname</td>
                                <td>Contact</td>
                                <td>Address</td>
                                <td>Actions</td>
                            </tr>
                            <tr ng-repeat="employee in e.employer.employees">
                                <td>{{employee.idNumber}}</td>
                                <td>{{employee.name}}</td>
                                <td>{{employee.surname}}</td>
                                <td>{{employee.contact}}</td>
                                <td>{{employee.address}}</td>
                                <td><input type="button" class="btn btn-danger form-control" value="X" ng-click="e.rmEmployee(employee)"></td>
                            </tr>
                            <tr>
                                <td><input class="form-control" placeholder="9202014778587" ng-model="e.newEmployee.idNumber" type="text"></td>
                                <td><input class="form-control" placeholder="John" ng-focus="e.lookupEmployee(e.newEmployee)" ng-model="e.newEmployee.name" type="text"></td>
                                <td><input class="form-control" placeholder="Dough" ng-model="e.newEmployee.surname" type="text"></td>
                                <td><input class="form-control" placeholder="0125487785" ng-model="e.newEmployee.contact" type="text"></td>
                                <td><input class="form-control" placeholder="1 1st Street" ng-model="e.newEmployee.address" type="text"></td>
                                <td><input type="button" class="btn btn-success form-control" value="+" ng-click="e.addEmployee(e.newEmployee)"></td>
                            </tr>    
                        </table>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-offset-6 col-md-6">
                        <input class="btn btn-success form-control" type="button" ng-click="e.update()" value="Save" style="position: fixed; right: 5px; bottom: 5px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>