<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!--<script src="lib/sails.io.js/dist/sails.io.js"></script>-->
    <script type="text/javascript">
      // io.sails.url = 'http://192.168.0.2:8080';
    </script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" style="background-color:#ffffff">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->

    <div class="bar bar-header bar-assertive" ng-style="{'background-color': navColor}">
      <h1 class="title" style="color:#d90202">Coke Vending Orders</h1>
    </div>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <!-- <ion-nav-view></ion-nav-view> -->
    <ion-content class="padding">
    <br>
    <br>
    <div class="row">
      <div class="col" ng-controller="DashCtrl" style="padding-top:0px;margin:0px;">
            <div class="list card" ng-hide="orders.length">
              <div class="item item-divider">No Orders Yet</div>
              <div class="item item-body">
                <div>
                </div>
              </div>
            </div>
          
            <div class="list card" ng-repeat="o in orders" on-swipe-left="done($index,o)">
              <div class="item item-body" style="padding:0px;margin:0px;">
                <div class="padding:0px;margin:0px;text-align:center">
<!--                   |<b>{{o.teamName}}</b>| -->
                  <div class="row" class="padding:0px;margin:0px;text-align:center;"> 
                    <div class="col" style="padding:0px;margin:0px;text-align:center;border-style:solid; border-right: thick double #d90202;"><h1 style="padding:0px;margin:0px;{{$index==0 ? 'font-size: 40px;' : ''}}"><small>emoji</small><b style="color:#d90202">{{o.smileyOne.id-6}}</b><br ng-hide="$index"> <b>{{getProductName(o.stickerOne)}}</b></h1></div>
                    <div class="col" style="padding:0px;margin:0px;text-align:center"><h1 style="padding:0px;margin:0px;{{$index==0 ? 'font-size: 40px;' : ''}}"><small>emoji</small><b style="color:#d90202">{{o.smileyTwo.id-6}}</b><br ng-hide="$index"> <b>{{getProductName(o.stickerTwo)}}</b></h1></div>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-15" ng-controller="AccountCtrl">
            <div class="list card">
              <div class="item item-divider">QTY</div>
              <div class="item item-body" style="padding:0px;">
                  <a ng-repeat="p in products" ng-click="addStock(p)">
                    <div style="height:45px; text-align:center; margin-top:10px;">
                      <b>{{getProductName(p)}}</b>
                      <!-- <img ng-hide="p.type" style="position: absolute; top:-10px; left:100px; padding:0px; margin: 0px; width:75px" src="img/emoji{{p.id}}.png"> -->
                      <span style="position: relative; top:0px; left:10px; width:50px;" class="badge {{p.qty>100 ? 'badge-balanced' : 'badge-assertive'}}" >{{p.qty}}</span>
                    </div>
                    <hr/>
                  </a>
              </div>
            </div>
      </div>
    </div>
    </ion-content>
  </body>
</html>
