<div id="wrapper" ng-controller="employersController as d">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <h1 class="page-header">Employers</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group input-group">
                                <span class="input-group-addon">Search</span>
                                <input type="text" class="form-control" ng-model="d.searchText">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="d.refresh()"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        
                            <table class="table table-striped table-hover">
                                <tr class="info">
                                    <td><strong>ID</strong></td>
                                    <td><strong>Business Name</strong></td>
                                    <td><strong>Email</strong></td>
                                    <td><strong>Tel</strong></td>
                                    <td><strong>Actions</strong></td>
                                </tr>
                                <tr ng-repeat="employer in d.employers | filter:d.searchText | limitTo:25" style="cursor: pointer" ng-click="d.setEmployer(employer)">
                                    <td>{{employer.id}}</td>
                                    <td>{{employer.name}}</td>
                                    <td>{{employer.email}}</td>
                                    <td>{{employer.tel}}</td>
                                    <td>
                                        <!-- <a href="#/employer/{{employer.id}}" class="btn btn-lg btn-primary btn-circle" ></a>  -->
                                        <a href="#/employer/{{employer.id}}" class="btn btn-lg btn-warning btn-circle" ><i class="fa fa-pencil"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4" ng-show="d.employer.name">

                            <h1 style="text-align: center">{{d.employer.name}}</h1>
                            <pre>
                                <code>
                                    {{d.employerString}}    
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
