<ion-view view-title="Orders">
  <ion-content class="padding">

    <div class="list card" ng-hide="orders.length">
      <div class="item item-divider">No Orders Yet</div>
      <div class="item item-body">
        <div>
        </div>
      </div>
    </div>
  
    <div class="list card" ng-repeat="o in orders" on-swipe-left="done($index,o)">
      <div class="item item-divider">{{o.teamName}}</div>
      <div class="item item-body" style="padding:0px;">
        <div>
          <div class="row"> 
            <div class="col" style="text-align:center"><br/><b>{{getProductName(o.stickerOne)}}</b></div>
            <div class="col" style="text-align:center"><img style="position: absolute; top:-10px; left:100px; padding:0px; margin: 0px; width:75px" src="img/emoji{{o.smileyOne.id}}.png"></div>|
            <div class="col" style="text-align:center"><img style="position: absolute; top:-10px; right:100px; padding:0px; margin: 0px; width:75px" src="img/emoji{{o.smileyTwo.id}}.png"></div>
            <div class="col" style="text-align:center"><br/><b>{{getProductName(o.stickerTwo)}}</b></div>
          </div>
        </div>
      </div>
    </div>
  
  </ion-content>
</ion-view>
